<div class="container">
  <div class="search-bar">
    <form [formGroup]="searchForm">
      <label>
        <input type="text" formControlName="cityName" placeholder="city name">
      </label>
    </form>
  </div>

  <section class="info" *ngIf="weatherModel">
    <div class="info__city-name">{{weatherModel.name}}, {{weatherModel.sys.country}}</div>

    <div class="info__temp">{{weatherModel.main.temp}} °C</div>

    <div class="info__description">{{weatherModel.weather[0].description}}</div>
    
  </section>
</div>
